<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zibowh.domain.mapper.mbg.JcszxMapper">
  <resultMap id="BaseResultMap" type="com.zibowh.domain.entity.mbg.Jcszx">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="JC_TYPE" jdbcType="VARCHAR" property="jcType" />
    <result column="JC_XH" jdbcType="VARCHAR" property="jcXh" />
    <result column="JC_LX" jdbcType="VARCHAR" property="jcLx" />
    <result column="JC_NR" jdbcType="VARCHAR" property="jcNr" />
    <result column="OWNER_ID" jdbcType="INTEGER" property="ownerId" />
    <result column="FATHER_ID" jdbcType="INTEGER" property="fatherId" />
    <result column="DEL_FLG" jdbcType="INTEGER" property="delFlg" />
    <result column="CREAT_USER" jdbcType="VARCHAR" property="creatUser" />
    <result column="UPD_USER" jdbcType="VARCHAR" property="updUser" />
    <result column="CREAT_TIME" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="UPD_TIME" jdbcType="TIMESTAMP" property="updTime" />
  </resultMap>
</mapper>