<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zibowh.domain.mapper.mbg.TBaseGoodpackageMapper">
  <resultMap id="BaseResultMap" type="com.zibowh.domain.entity.mbg.TBaseGoodpackage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="PACKID" jdbcType="VARCHAR" property="packid" />
    <result column="WXP_ID" jdbcType="VARCHAR" property="wxpId" />
    <result column="PACKTYPE" jdbcType="VARCHAR" property="packtype" />
    <result column="PACKSPEC" jdbcType="VARCHAR" property="packspec" />
  </resultMap>
</mapper>